.app {
	display: flex;
	min-height: 100vh;
	background-color: black;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.sentenceElementsContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
}

.addButton {
	color: grey;
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: grey; */
	font-size: 40px;
	height: 80px;
	overflow: hidden;
	border-radius: 10px;
	cursor: pointer;
	transition: width 0.3s ease;
	/* margin 0.3s ease; */
}

/* ADD ELEMENT MODAL */
.addElementModalContainer {
	position: absolute;
	display: flex;
	align-items: flex-end;
	justify-self: center;
	flex-direction: row-reverse;
	gap: 10px;
	bottom: 130%;
}

.addElementModalButton {
	background: lightgrey;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	/* margin: 0 10px; */
	padding: 5px 20px;
	color: black;
	font-size: 16px;
	cursor: pointer;
	white-space: nowrap;
}
.addElementModalButton:hover {
	background: grey;
}
.addElementModalButton:active {
	background: black;
	color: white;
}

.deleteElementButtonContainer {
	display: flex;
	/* background-color: red; */
	padding: 10px;
	border-radius: 0 0 10px 10px;
}
.deleteElementButton {
	background-color: red;
	flex: 1;
	color: white;
}
.deleteElementButton:hover {
	background-color: darkred;
}

.categoryModalContainer {
	/* position: absolute; */
	/* left: 50%; */
	display: flex;
	flex-direction: column;
	/* transform: translate(-50%, -100%); */

	background: grey;
	border-radius: 8px;
	padding: 8px;
	gap: 5px;
	z-index: 100;
}
.elementListContainer {
	width: 200px;
	height: 300px;
	flex-direction: column;
	display: flex;
	background: grey;
	border-radius: 10px;
	z-index: 999;
}
.elementListItemContainer {
	flex-direction: column;
	display: flex;
	gap: 10px;
	padding: 10px;
	overflow-y: auto;
}
.searchInputContainer {
	display: flex;
	background-color: grey;
	padding: 10px;
	border-radius: 10px 10px 0 0;
}
.searchInput {
	border: none;
	border-radius: 5px;
	width: 100%;
	padding: 10px;
}

.modalContainer {
	position: relative;
}

/* ELEMENTS */

.elementText {
	color: white;
	font-size: 40px;
}

.elementContainer {
	display: flex;
	align-items: center;
	height: 100px;
	padding: 0 10px;
	border-radius: 10px;
	cursor: pointer;
}
.baseElement {
	display: flex;
	align-items: center;
	gap: 5px;
}

.baseInsideElement {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
	font-size: 40px;
	/* padding: 0 0 0 5px; */
	/* overflow: hidden; */
	border-radius: 10px;
	cursor: pointer;
}
.particleElement {
	background: grey;
}
