.app {
	display: flex;
	min-height: 100vh;
	background-color: black;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.elementsContainer {
	display: flex;
	flex-direction: row;
}

.addButton {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: grey;
	font-size: 40px;
	height: 80px;
	width: 50px;
	overflow: hidden;
	border-radius: 5px;
	cursor: pointer;
	transition:
		width 0.3s ease,
		margin 0.3s ease;
	margin: 0 2.5px 0 2.5px;
}
.addButton:active {
	background-color: lightgrey;
}

/* ADD ELEMENT MODAL */
.addElementModalContainer {
	position: absolute;
	display: flex;
	align-items: flex-end;
	justify-self: center;
	flex-direction: row-reverse;
	gap: 10px;
	bottom: 130%;
}

.addElementModalButton {
	background: lightgrey;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	/* margin: 0 10px; */
	padding: 5px 20px;
	color: black;
	font-size: 16px;
	cursor: pointer;
	white-space: nowrap;
}
.addElementModalButton:hover {
	background: grey;
}
.addElementModalButton:active {
	background: black;
	color: white;
}

.deleteElementButtonContainer {
	display: flex;
	/* background-color: red; */
	padding: 10px;
	border-radius: 0 0 10px 10px;
}
.deleteElementButton {
	background-color: red;
	flex: 1;
	color: white;
}
.deleteElementButton:hover {
	background-color: darkred;
}

.categoryModalContainer {
	/* position: absolute; */
	/* left: 50%; */
	display: flex;
	flex-direction: column;
	/* transform: translate(-50%, -100%); */

	background: grey;
	border-radius: 8px;
	padding: 8px;
	gap: 5px;
	z-index: 100;
}
.elementListContainer {
	width: 200px;
	height: 300px;
	flex-direction: column;
	display: flex;
	background: grey;
	border-radius: 10px;
	z-index: 999;
}
.elementListItemContainer {
	flex-direction: column;
	display: flex;
	gap: 10px;
	padding: 10px;
	overflow-y: auto;
}
.searchInputContainer {
	display: flex;
	background-color: grey;
	padding: 10px;
	border-radius: 10px 10px 0 0;
}
.searchInput {
	border: none;
	border-radius: 5px;
	width: 100%;
	padding: 10px;
}

.modalContainer {
	position: relative;
}
/* ELEMENTS */

.elementText {
	color: white;
	font-size: 40px;
}

.elementContainer {
	display: flex;
	z-index: 999;
	border: 1px solid white;
	position: relative;
	align-items: center;
	justify-content: center;
	height: 80px;
	border-radius: 10px;
	/* padding: 0 10px; */
	cursor: pointer;
}
.baseElement {
	display: flex;
	z-index: 999;
	height: 80px;
	flex: 1;
	/* border: 1px solid white; */
	position: relative;
	align-items: center;
	justify-content: center;

	border-radius: 10px;
	/* padding: 0 10px; */
	/* margin: 0 2.5px; */
	cursor: pointer;
}

.baseInsideElement {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
	/* padding: 0 0 0 5px; */
	/* overflow: hidden; */
	border-radius: 10px;
	cursor: pointer;
}
.insideElementText {
	font-size: 40px;
	margin: 0 5px 0 5px;
}

.particleElement {
	background: green;
}
.suffixPrefixElement {
	background: orange;
}
.adjectiveLastChar {
	background-color: purple;
}

.godanEnding {
	background-color: green;
}
.conjugation {
	background-color: darkblue;
	border: 1px solid red;
}
.conjugationEnding {
	background-color: red;
}

.couplaLastChar {
	background-color: sandybrown;
}
.punctuationLastChar {
	background-color: grey;
}
